//* theme style specific variables *//

// headline font
$headline-font: "chaparral-pro", Helvetica, sans-serif;

// main font
$font: "proxima-nova", sans-serif;

// theme colors
$theme-color-1: #417195; // Light Blue
$theme-color-2: #efefef; // Light Gray
$theme-color-3: #1c4772; // Dark Blue
$theme-color-4: #333; // Dark Gray
$theme-color-5: #111; // Black
$theme-color-6: #fefefe; // White

// general success and error colors
$red: #b94a48;
$green: #619114;

// background images

$background-texture: "paper.jpg";
$header-texture: "header-green.jpg";